/* ==========================================================================
   Utility Functions
   ========================================================================== */
/* Unit Calculations */
/* Colors */
/* ==========================================================================
   Utility Mixins
   ========================================================================== */
/* Set image path if not previously defined */
/* ==========================================================================
   Responsive Mixins
   ========================================================================== */
/* Responsive Breakpoint Magic (breakpoint labels, base font size) */
/* Media Queries */
/* Grid */
.grid {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
}
.grid .grid-cell {
  font-size: 20px;
  font-size: 1.25rem;
  text-align: left;
}
.grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.grid .placeholder {
  border-bottom: 1px solid purple;
  height: 0;
  margin: 0;
  padding: 0;
}

.grid-cell {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
