@include mq-breakpoints();

.grid {
    margin-bottom: 50px;
}

.grid-cell {
    background-color: LightCoral;
    margin-bottom: 1em;
    padding: 0.5em 0;

    @include breakpoint( beta ) {
        background-color: Orange;
    }

    @include breakpoint( gamma ) {
        background-color: PaleGreen;
    }

    @include breakpoint( delta ) {
        background-color: SkyBlue;
    }
    
    @include breakpoint( epsilon ) {
        background-color: MediumPurple;
    }

    @include breakpoint( zeta ) {
        background-color: Silver;
    }
}

