/* Breakpoints (name, width, font differential in px) */
$breakpoints: alpha    0     0,
              beta     450   0,
              gamma    700   0,
              delta    900   0,
              epsilon  1100   0,
              zeta     1300  0,
              omega    1500  0;

/* Typography */
$base-font-size: 16px;
$base-line-height: 1.6;

$sans: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$serif:  'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, 'Times New Roman', serif;
