/* Grid */
// http://justifygrid.com/
// http://www.barrelny.com/blog/text-align-justify-and-rwd/
$columns: 12;
$gutter-width: 2%;
$column-width: (100% - ($gutter-width * ($columns - 1))) / $columns;

.grid {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;

  .grid-cell {
    @include font-size( 16px );
    text-align: left;
    @include transition( background-color 300ms ease-in-out );
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  
  .placeholder {
      margin: 0;
      padding: 0;
  }
}

.grid-cell {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}

// @function grid-span($cols, $total: $columns) {
//   @return ($column-width * $cols  + $gutter-width * ($cols  - 1)) /
//           ($column-width * $total + $gutter-width * ($total - 1)) * 100%;
// }

@function grid-span( $cols ) {
  @return ($column-width * $cols) + ($gutter-width * ($cols - 1));
}

// @function grid-span($cols, $total: $columns) {
//   @return ($column-width * $cols  + $gutter-width * ($cols  - 1)) /
//           $total-width * 100%;
// }

// @for $i from 1 through $columns {
//     .span-#{$i} {
//         width: grid-span($i);
//     }
// }
// 
// @for $i from 1 through $columns {
//     .span-#{$i} {
//         width: ($column-width * $i  + $gutter-width * ($i  - 1)) / $total-width * 100%;
//     }
// }

// Force 2 columns
@include breakpoint( beta ) {
    @for $i from 1 through $columns {
        .span-#{$i} {
            width: grid-span( 6 );
        }
    }
}

// Force 3 columns, except for span-6 or greater
@include breakpoint( gamma ) {
    @for $i from 1 through 5 {
        .span-#{$i} {
            width: grid-span( 4 );
        }
    }
    @for $i from 6 through $columns {
        .span-#{$i} {
            width: grid-span( $i );
        }
    }
}

// Force 4 columns, except for span-4 or greater
@include breakpoint( delta ) {
    @for $i from 1 through 2 {
        .span-#{$i} {
            width: grid-span( 3 );
        }
    }
    @for $i from 3 through 5 {
        .span-#{$i} {
            width: grid-span( $i );
        }
    }
}

// Force 6 columns, except for span-3 or greater
@include breakpoint( epsilon ) {
    @for $i from 1 through 2 {
        .span-#{$i} {
            width: grid-span( 2 );
        }
    }
}

// Normal grid widths
@include breakpoint( zeta ) {
    .span-1 {
        width: $column-width;
    }
}
